<div class="knob">
  <circle-progress
    [percent]="percentage"
    [maxPercent]="12"
    [radius]="50"
    
    [outerStrokeWidth]="outerRadius"
    [outerStrokeColor]="outerColor"
    
    [innerStrokeWidth]="innerRadius"
    [innerStrokeColor]="innerColor"

    [animation]="true"
    [animationDuration]="300"
    [showTitle]="true"
    [subtitle]="description"
    title=""
    units=""
    [showTitle]="false"
    [showUnits]="false"
    subtitleFontSize="20"
    subtitleFontWeight="bold"
  ></circle-progress>
</div>
